USE [DB_HRMS]
GO

/****** Object:  Table [dbo].[PFESISettings]    Script Date: 05-Jan-2023 17:24:31 ******/
DROP TABLE [dbo].[PFESISettings]
GO
/****** Object:  Table [dbo].[Category_Master]    Script Date: 05-Jan-2023 17:24:31 ******/
DROP TABLE [dbo].[Category_Master]
GO
/****** Object:  Table [dbo].[Category_Master]    Script Date: 05-Jan-2023 17:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category_Master](
	[Comp_Code] [varchar](20) NOT NULL,
	[Location_Code] [varchar](20) NOT NULL,
	[CatCode] [bigint] NOT NULL,
	[CatName] [varchar](50) NOT NULL,
	[Cons_Wages] [nvarchar](500) NULL,
	[Basic_F] [nvarchar](500) NULL,
	[AttnEarning_F] [varchar](500) NOT NULL,
	[HRAAmount_F] [varchar](500) NULL,
	[Wash_amount_F] [varchar](500) NULL,
	[DAAmount_F] [varchar](500) NULL,
	[PaidDay_F] [varchar](500) NOT NULL,
	[Leave_F] [varchar](500) NOT NULL,
	[PFSource] [varchar](500) NOT NULL,
	[ESISource] [varchar](500) NOT NULL,
	[PF] [varchar](500) NOT NULL,
	[EPF] [varchar](500) NOT NULL,
	[EPS] [varchar](500) NOT NULL,
	[ESI] [varchar](500) NOT NULL,
	[EmpESI] [varchar](500) NOT NULL,
	[MDESI] [varchar](500) NOT NULL,
	[TotalEarning] [varchar](500) NOT NULL,
	[TotalDeduction] [varchar](500) NOT NULL,
	[OTWages] [varchar](500) NOT NULL,
	[RsPerDay] [varchar](500) NOT NULL,
	[EarnDay] [varchar](500) NOT NULL,
	[GrossAmount] [varchar](500) NOT NULL,
	[NetAmount] [varchar](500) NOT NULL,
	[SalDate] [int] NOT NULL,
	[SalaryDay] [varchar](500) NOT NULL,
	[SalaryType] [nvarchar](50) NULL,
	[IS_Active] [int] NULL,
	[Delete_Mode] [int] NULL,
	[Created_By] [varchar](15) NULL,
	[Created_Date] [datetime] NULL,
	[Modified_By] [varchar](15) NULL,
	[Modified_Date] [datetime] NULL,
 CONSTRAINT [PK_Category_Master] PRIMARY KEY CLUSTERED 
(
	[Comp_Code] ASC,
	[Location_Code] ASC,
	[CatCode] ASC,
	[CatName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PFESISettings]    Script Date: 05-Jan-2023 17:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PFESISettings](
	[Comp_Code] [varchar](50) NOT NULL,
	[Location_Code] [varchar](50) NOT NULL,
	[CompName] [varchar](50) NOT NULL,
	[Entry_No] [varchar](100) NOT NULL,
	[Entry_Date] [datetime] NULL,
	[PF] [float] NOT NULL,
	[EPF] [float] NOT NULL,
	[EPS] [float] NOT NULL,
	[ESI] [float] NOT NULL,
	[EmpESI] [float] NOT NULL,
	[MDESI] [float] NOT NULL,
	[PFMaxSalary] [float] NOT NULL,
	[ESIMinSalary] [float] NOT NULL,
	[ESIMaxSalary] [float] NOT NULL,
	[CompanyPfNoSerial] [varchar](50) NULL,
	[Fom6AAdminAmountPer] [float] NULL,
	[DLIEmployerSharePer] [float] NULL,
	[EPFAdminChargePer] [float] NULL,
	[DLIAdminChargePer] [float] NULL,
	[CompAdd1] [varchar](50) NULL,
	[CompAdd2] [varchar](50) NULL,
	[CompAdd3] [varchar](50) NULL,
	[Effect_from] [datetime] NULL,
	[Effect_To] [datetime] NULL,
	[IS_Active] [int] NULL,
	[Created_By] [varchar](15) NULL,
	[Created_Date] [datetime] NULL,
	[Modified_By] [varchar](15) NULL,
	[Modified_Date] [datetime] NULL,
 CONSTRAINT [PK_PFESISettings] PRIMARY KEY CLUSTERED 
(
	[Comp_Code] ASC,
	[Location_Code] ASC,
	[Entry_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO



----[PFAmount] + [EmpESIAmount]+ insurance+Advance +Canteen +fine,others