USE [DB_HRMS]
GO
ALTER TABLE [dbo].[TmpSalProcess] DROP CONSTRAINT [DF__TmpSalPro__Salar__679450C0]
GO
ALTER TABLE [dbo].[TmpSalProcess] DROP CONSTRAINT [DF__TmpSalPro__Gross__22EA20B8]
GO
ALTER TABLE [dbo].[TmpSalProcess] DROP CONSTRAINT [DF__TmpSalPro__Gross__21F5FC7F]
GO
ALTER TABLE [dbo].[TmpSalProcess] DROP CONSTRAINT [DF__TmpSalPro__EarnD__2101D846]
GO
ALTER TABLE [dbo].[TmpSalProcess] DROP CONSTRAINT [DF__TmpSalPro__AttnE__1C3D2329]
GO
ALTER TABLE [dbo].[TmpSalProcess] DROP CONSTRAINT [DF__TmpSalPro__EarnR__1B48FEF0]
GO
ALTER TABLE [dbo].[TmpSalProcess] DROP CONSTRAINT [DF__TmpSalPro__DedRo__1A54DAB7]
GO
ALTER TABLE [dbo].[TmpSalProcess] DROP CONSTRAINT [DF__TmpSalPro__HRAAm__0CFADF99]
GO
ALTER TABLE [dbo].[SalStoreTable] DROP CONSTRAINT [DF__SalStoreT__Salar__688874F9]
GO
ALTER TABLE [dbo].[SalStoreTable] DROP CONSTRAINT [DF__SalStoreT__Gross__353DDB1D]
GO
ALTER TABLE [dbo].[SalStoreTable] DROP CONSTRAINT [DF__SalStoreT__Gross__3449B6E4]
GO
ALTER TABLE [dbo].[SalStoreTable] DROP CONSTRAINT [DF__SalStoreT__EarnD__335592AB]
GO
ALTER TABLE [dbo].[SalStoreTable] DROP CONSTRAINT [DF__SalStoreT__AttnE__5C37ACAD]
GO
ALTER TABLE [dbo].[SalStoreTable] DROP CONSTRAINT [DF__SalStoreT__EarnR__5A4F643B]
GO
ALTER TABLE [dbo].[SalStoreTable] DROP CONSTRAINT [DF__SalStoreT__DedRo__5B438874]
GO
ALTER TABLE [dbo].[SalStoreTable] DROP CONSTRAINT [DF__SalStoreT__MinES__4C0144E4]
GO
ALTER TABLE [dbo].[SalStoreTable] DROP CONSTRAINT [DF__SalStoreT__MaxES__4B0D20AB]
GO
ALTER TABLE [dbo].[SalStoreTable] DROP CONSTRAINT [DF__SalStoreT__MaxPF__4A18FC72]
GO
ALTER TABLE [dbo].[SalStoreTable] DROP CONSTRAINT [DF_SalStoreTable_SalaryDay11]
GO
ALTER TABLE [dbo].[SalStoreTable] DROP CONSTRAINT [DF_SalStoreTable_SalaryDay]
GO
ALTER TABLE [dbo].[SalStoreTable] DROP CONSTRAINT [DF__SalStoreT__Salar__26CFC035]
GO
ALTER TABLE [dbo].[SalStoreTable] DROP CONSTRAINT [DF__SalStoreT__HRAAm__4CF5691D]
GO
/****** Object:  Table [dbo].[TmpSalProcess]    Script Date: 23/12/2022 16:20:20 ******/
DROP TABLE [dbo].[TmpSalProcess]
GO
/****** Object:  Table [dbo].[SalStoreTable]    Script Date: 23/12/2022 16:20:20 ******/
DROP TABLE [dbo].[SalStoreTable]
GO
/****** Object:  Table [dbo].[Category_Master]    Script Date: 23/12/2022 16:20:20 ******/
DROP TABLE [dbo].[Category_Master]
GO
/****** Object:  Table [dbo].[Category_Master]    Script Date: 23/12/2022 16:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category_Master](
	[Comp_Code] [varchar](20) NOT NULL,
	[Location_Code] [varchar](20) NOT NULL,
	[CatCode] [bigint] NOT NULL,
	[CatName] [varchar](50) NOT NULL,
	[Cons_Wages] [nvarchar](500) NULL,
	[Basic_F] [nvarchar](500) NULL,
	[AttnEarning_F] [varchar](500) NOT NULL,
	[HRAAmount_F] [varchar](500) NULL,
	[Wash_amount_F] [varchar](500) NULL,
	[DAAmount_F] [varchar](500) NULL,
	[PaidDay_F] [varchar](500) NOT NULL,
	[Leave_F] [varchar](500) NOT NULL,
	[PFSource] [varchar](500) NOT NULL,
	[ESISource] [varchar](500) NOT NULL,
	[PF] [varchar](500) NOT NULL,
	[EPF] [varchar](500) NOT NULL,
	[EPS] [varchar](500) NOT NULL,
	[ESI] [varchar](500) NOT NULL,
	[EmpESI] [varchar](500) NOT NULL,
	[MDESI] [varchar](500) NOT NULL,
	[TotalEarning] [varchar](500) NOT NULL,
	[TotalDeduction] [varchar](500) NOT NULL,
	[OTWages] [varchar](500) NOT NULL,
	[RsPerDay] [varchar](500) NOT NULL,
	[EarnDay] [varchar](500) NOT NULL,
	[GrossAmount] [varchar](500) NOT NULL,
	[NetAmount] [varchar](500) NOT NULL,
	[SalDate] [int] NOT NULL,
	[SalaryDay] [varchar](500) NOT NULL,
	[SalaryType] [nvarchar](50) NULL,
	[IS_Active] [int] NULL,
	[Delete_Mode] [int] NULL,
	[Created_By] [varchar](15) NULL,
	[Created_Date] [datetime] NULL,
	[Modified_By] [varchar](15) NULL,
	[Modified_Date] [datetime] NULL,
 CONSTRAINT [PK_Category_Master] PRIMARY KEY CLUSTERED 
(
	[Comp_Code] ASC,
	[Location_Code] ASC,
	[CatCode] ASC,
	[CatName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SalStoreTable]    Script Date: 23/12/2022 16:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SalStoreTable](
	[Comp_Code] [nvarchar](50) NOT NULL,
	[Location_Code] [nvarchar](50) NOT NULL,
	[Empcode] [varchar](50) NOT NULL,
	[EmpID] [bigint] NOT NULL,
	[CatCode] [bigint] NOT NULL,
	[DeptCode] [bigint] NOT NULL,
	[DesignCode] [bigint] NOT NULL,
	[SDate] [datetime] NOT NULL,
	[Present] [float] NOT NULL,
	[Absent] [float] NOT NULL,
	[Leave] [float] NOT NULL,
	[WeeklyOff] [float] NOT NULL,
	[Weekoff_Present] [float] NULL,
	[Weekoff_Paid] [float] NULL,
	[Extra_work] [float] NULL,
	[Extra_work_paid] [float] NULL,
	[NH] [float] NOT NULL,
	[FH] [float] NOT NULL,
	[LOP] [float] NOT NULL,
	[CL] [float] NULL,
	[TotalDays] [float] NOT NULL,
	[PaidDays] [float] NOT NULL,
	[Basic] [float] NOT NULL,
	[AttnEarning] [numeric](18, 3) NOT NULL,
	[HRAAmount1] [float] NOT NULL,
	[HRAAmount] [numeric](18, 3) NOT NULL,
	[PFSource] [float] NOT NULL,
	[ESISource] [float] NOT NULL,
	[LeaveSalary] [float] NOT NULL,
	[RsPerDay] [numeric](18, 3) NOT NULL,
	[LOPAmount] [float] NOT NULL,
	[PFAmount] [float] NOT NULL,
	[EPFAmount] [float] NOT NULL,
	[EPSAmount] [float] NOT NULL,
	[ESIAmount] [float] NOT NULL,
	[EmpESIAmount] [float] NOT NULL,
	[MDESIAmount] [float] NOT NULL,
	[TotalEarnings] [float] NOT NULL,
	[TotalDeductions] [float] NOT NULL,
	[NetAmount] [float] NOT NULL,
	[Canteen] [float] NOT NULL,
	[BankLoan] [float] NOT NULL,
	[Advance] [float] NOT NULL,
	[SalaryType] [varchar](50) NOT NULL,
	[SalaryDay] [float] NOT NULL,
	[Factor_ID] [float] NOT NULL,
	[PF] [float] NOT NULL,
	[EPF] [float] NOT NULL,
	[EPS] [float] NOT NULL,
	[ESI] [float] NOT NULL,
	[EmpESI] [float] NOT NULL,
	[MDESI] [float] NOT NULL,
	[MaxPFSalary] [float] NOT NULL,
	[MaxESISalary] [float] NOT NULL,
	[MinESISalary] [float] NOT NULL,
	[DedRound] [float] NOT NULL,
	[EarnRound] [float] NOT NULL,
	[AttnEarnRound] [float] NOT NULL,
	[EarnDay] [float] NOT NULL,
	[GrossAmount] [float] NOT NULL,
	[Grossround] [numeric](18, 3) NOT NULL,
	[SalaryDay1] [float] NOT NULL,
	[Weekoff_Day] [varchar](50) NULL,
	[No_Of_Woff] [float] NULL,
	[DaysInMonth] [float] NULL,
	[OT_Hours] [float] NULL,
	[OT_SALARY] [float] NULL,
	[Nightshft_ALW] [float] NULL,
	[Monthly_inc] [float] NULL,
	[Holiday_wages] [float] NULL,
	[Petrol_alow] [float] NULL,
	[Tot_Ded] [numeric](18, 2) NULL,
	[Net_Salary] [numeric](18, 2) NULL,
	[By_Bank] [numeric](18, 0) NULL,
	[By_Cash] [numeric](18, 0) NULL,
	[IS_Closed] [float] NULL,
	[Created_By] [varchar](15) NULL,
	[Created_Date] [datetime] NULL,
	[Modified_By] [varchar](15) NULL,
	[Modified_Date] [datetime] NULL,
 CONSTRAINT [PK_SalStoreTable] PRIMARY KEY CLUSTERED 
(
	[Comp_Code] ASC,
	[Location_Code] ASC,
	[Empcode] ASC,
	[EmpID] ASC,
	[CatCode] ASC,
	[SDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TmpSalProcess]    Script Date: 23/12/2022 16:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TmpSalProcess](
	[Comp_Code] [nvarchar](50) NULL,
	[Location_Code] [nvarchar](50) NULL,
	[Empcode] [varchar](50) NOT NULL,
	[EmpID] [bigint] NOT NULL,
	[CatCode] [bigint] NOT NULL,
	[DeptCode] [bigint] NOT NULL,
	[DesignCode] [bigint] NOT NULL,
	[SDate] [datetime] NOT NULL,
	[Present] [float] NOT NULL,
	[Absent] [float] NOT NULL,
	[Leave] [float] NOT NULL,
	[WeeklyOff] [float] NOT NULL,
	[Weekoff_Present] [float] NULL,
	[Weekoff_Paid] [float] NULL,
	[Extra_work] [float] NULL,
	[Extra_work_paid] [float] NULL,
	[NH] [float] NOT NULL,
	[FH] [float] NOT NULL,
	[LOP] [float] NOT NULL,
	[CL] [float] NULL,
	[TotalDays] [float] NOT NULL,
	[Paid_Days] [float] NULL,
	[PaidDays] [float] NOT NULL,
	[Basic] [float] NOT NULL,
	[AttnEarning] [float] NOT NULL,
	[HRAAmount1] [float] NOT NULL,
	[HRAAmount] [float] NOT NULL,
	[WashAmount1] [float] NULL,
	[WashAmount] [float] NULL,
	[DAAmount1] [float] NULL,
	[DAAmount] [float] NULL,
	[PFSource] [float] NOT NULL,
	[ESISource] [float] NOT NULL,
	[LeaveSalary] [float] NOT NULL,
	[RsPerDay] [float] NOT NULL,
	[LOPAmount] [float] NOT NULL,
	[PFAmount] [float] NOT NULL,
	[EPFAmount] [float] NOT NULL,
	[EPSAmount] [float] NOT NULL,
	[ESIAmount] [float] NOT NULL,
	[EmpESIAmount] [float] NOT NULL,
	[MDESIAmount] [float] NOT NULL,
	[TotalEarnings] [float] NOT NULL,
	[TotalDeductions] [float] NOT NULL,
	[NetAmount] [float] NOT NULL,
	[Canteen] [float] NOT NULL,
	[BankLoan] [float] NOT NULL,
	[Advance] [float] NOT NULL,
	[SalaryType] [varchar](50) NOT NULL,
	[SalaryDay] [float] NOT NULL,
	[Factor_ID] [float] NULL,
	[PF] [float] NOT NULL,
	[EPF] [float] NOT NULL,
	[EPS] [float] NOT NULL,
	[ESI] [float] NOT NULL,
	[EmpESI] [float] NOT NULL,
	[MDESI] [float] NOT NULL,
	[MaxPFSalary] [float] NOT NULL,
	[MaxESISalary] [float] NOT NULL,
	[MinESISalary] [float] NOT NULL,
	[DedRound] [float] NOT NULL,
	[EarnRound] [float] NOT NULL,
	[AttnEarnRound] [float] NOT NULL,
	[EarnDay] [float] NOT NULL,
	[GrossAmount] [float] NOT NULL,
	[GrossRound] [float] NOT NULL,
	[SalaryDay1] [float] NOT NULL,
	[Weekoff_Day] [nvarchar](50) NULL,
	[No_Of_Woff] [float] NULL,
	[DaysInMonth] [float] NULL,
	[OT_Hours] [float] NULL,
	[OT_SALARY] [float] NULL,
	[Nightshft_ALW] [float] NULL,
	[Monthly_inc] [float] NULL,
	[Holiday_wages] [float] NULL,
	[Petrol_alow] [float] NULL,
	[Tot_Ded] [numeric](18, 2) NULL,
	[Net_Salary] [numeric](18, 2) NULL,
	[By_Bank] [numeric](18, 0) NULL,
	[By_Cash] [numeric](18, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SalStoreTable] ADD  CONSTRAINT [DF__SalStoreT__HRAAm__4CF5691D]  DEFAULT ((0)) FOR [HRAAmount1]
GO
ALTER TABLE [dbo].[SalStoreTable] ADD  CONSTRAINT [DF__SalStoreT__Salar__26CFC035]  DEFAULT ('-') FOR [SalaryType]
GO
ALTER TABLE [dbo].[SalStoreTable] ADD  CONSTRAINT [DF_SalStoreTable_SalaryDay]  DEFAULT ((0)) FOR [SalaryDay]
GO
ALTER TABLE [dbo].[SalStoreTable] ADD  CONSTRAINT [DF_SalStoreTable_SalaryDay11]  DEFAULT ((0)) FOR [Factor_ID]
GO
ALTER TABLE [dbo].[SalStoreTable] ADD  CONSTRAINT [DF__SalStoreT__MaxPF__4A18FC72]  DEFAULT ((0)) FOR [MaxPFSalary]
GO
ALTER TABLE [dbo].[SalStoreTable] ADD  CONSTRAINT [DF__SalStoreT__MaxES__4B0D20AB]  DEFAULT ((0)) FOR [MaxESISalary]
GO
ALTER TABLE [dbo].[SalStoreTable] ADD  CONSTRAINT [DF__SalStoreT__MinES__4C0144E4]  DEFAULT ((0)) FOR [MinESISalary]
GO
ALTER TABLE [dbo].[SalStoreTable] ADD  CONSTRAINT [DF__SalStoreT__DedRo__5B438874]  DEFAULT ((0)) FOR [DedRound]
GO
ALTER TABLE [dbo].[SalStoreTable] ADD  CONSTRAINT [DF__SalStoreT__EarnR__5A4F643B]  DEFAULT ((0)) FOR [EarnRound]
GO
ALTER TABLE [dbo].[SalStoreTable] ADD  CONSTRAINT [DF__SalStoreT__AttnE__5C37ACAD]  DEFAULT ((0)) FOR [AttnEarnRound]
GO
ALTER TABLE [dbo].[SalStoreTable] ADD  CONSTRAINT [DF__SalStoreT__EarnD__335592AB]  DEFAULT ((0)) FOR [EarnDay]
GO
ALTER TABLE [dbo].[SalStoreTable] ADD  CONSTRAINT [DF__SalStoreT__Gross__3449B6E4]  DEFAULT ((0)) FOR [GrossAmount]
GO
ALTER TABLE [dbo].[SalStoreTable] ADD  CONSTRAINT [DF__SalStoreT__Gross__353DDB1D]  DEFAULT ((0)) FOR [Grossround]
GO
ALTER TABLE [dbo].[SalStoreTable] ADD  CONSTRAINT [DF__SalStoreT__Salar__688874F9]  DEFAULT ((0)) FOR [SalaryDay1]
GO
ALTER TABLE [dbo].[TmpSalProcess] ADD  CONSTRAINT [DF__TmpSalPro__HRAAm__0CFADF99]  DEFAULT ((0)) FOR [HRAAmount1]
GO
ALTER TABLE [dbo].[TmpSalProcess] ADD  CONSTRAINT [DF__TmpSalPro__DedRo__1A54DAB7]  DEFAULT ((0)) FOR [DedRound]
GO
ALTER TABLE [dbo].[TmpSalProcess] ADD  CONSTRAINT [DF__TmpSalPro__EarnR__1B48FEF0]  DEFAULT ((0)) FOR [EarnRound]
GO
ALTER TABLE [dbo].[TmpSalProcess] ADD  CONSTRAINT [DF__TmpSalPro__AttnE__1C3D2329]  DEFAULT ((0)) FOR [AttnEarnRound]
GO
ALTER TABLE [dbo].[TmpSalProcess] ADD  CONSTRAINT [DF__TmpSalPro__EarnD__2101D846]  DEFAULT ((0)) FOR [EarnDay]
GO
ALTER TABLE [dbo].[TmpSalProcess] ADD  CONSTRAINT [DF__TmpSalPro__Gross__21F5FC7F]  DEFAULT ((0)) FOR [GrossAmount]
GO
ALTER TABLE [dbo].[TmpSalProcess] ADD  CONSTRAINT [DF__TmpSalPro__Gross__22EA20B8]  DEFAULT ((0)) FOR [GrossRound]
GO
ALTER TABLE [dbo].[TmpSalProcess] ADD  CONSTRAINT [DF__TmpSalPro__Salar__679450C0]  DEFAULT ((0)) FOR [SalaryDay1]
GO
